* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cdb5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hlsa-example: hsla(210, 100%, 56%, 1);
}


/* Estilos generales en todos los html */
body {
    font-family: system-ui;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

main {
    padding-bottom: 5rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-wrap: balance;
}

h1+p {
    text-wrap: balance;
    margin-bottom: 2rem;
}

body>header {
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    svg {
        color: var(--primary-light);
        width: 3rem;
        height: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-primary);
    }

    nav {
        display: flex;
        gap: 3rem;
        font-size: 1.2rem;

        a {
            color: var(--text-muted);
            text-decoration: none;
            font-weight: 400;
            transition: all .075s;

            &:hover {
                color: var(--text-primary);
                transform: translateY(-1px);
                scale: 1.15;
            }

            &:active {
                transform: translateY(1px);
                scale: 1;
            }
        }
    }

    div {
        display: flex;
        gap: 1rem;
        align-items: center;

        a {
            padding: .5rem 1.25rem;
            text-decoration: none;
            font-weight: 600;
            border-radius: .75rem;
            white-space: nowrap;
            transition: all .075s;

            &:nth-child(1) {
                color: var(--primary-light);
                background-color: var(--primary-dark);

                &:hover {
                    color: var(--text-primary);
                    transform: translateY(-1px);
                    scale: 1.05;
                    outline: 2px solid var(--text-primary);
                    outline-offset: 1px;
                }

                &:active {
                    transform: translateY(1px);
                    scale: 1;
                }
            }

            &:nth-child(2) {
                color: var(--text-primary);
                background-color: var(--primary);

                &:hover {
                    color: var(--text-primary);
                    transform: translateY(-1px);
                    scale: 1.05;
                    outline: 2px solid var(--text-primary);
                    outline-offset: 1px;
                }

                &:active {
                    transform: translateY(1px);
                    scale: 1;
                }
            }
        }
    }
}

button {
    background-color: var(--primary-light);
    color: var(--text-primary);
    cursor: pointer;
    font-weight: 700;
    padding: .75rem 1.5rem;
    margin: 0;
    border-radius: .75rem;
    border: none;
    white-space: nowrap;
    transition: all .075s;

    &:hover {
        scale: 1.15;
        outline: 2px solid var(--text-primary);
        outline-offset: 1px;
    }

    &:active {
        scale: 1;
        background-color: var(--primary-hover);
    }
}

body>footer {
    color: var(--text-muted);
    text-align: center;
    padding: 1rem;
    border-top: solid var(--border);
}


/* estilos de index.html */
.hero {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:
        linear-gradient(to bottom, rgba(16, 25, 34, 1) 2%, rgba(16, 25, 34, 0) 200%),
        url("background.webp") top/cover no-repeat;

    p {
        font-weight: 400;
        width: 50%;
    }

    div {
        color: var(--text-muted);
        background-color: var(--input-bg);
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 2rem;
        border-radius: .75rem;
        width: 100%;
        max-width: 50rem;

        input {
            margin-left: 1rem;
            margin-right: auto;
            padding-right: 1rem;
            flex: 1 1 auto;
            min-width: 20rem;
            border: none;
            outline: none;
            background: transparent;
            scale: 1.2;
            color: var(--text-primary);
        }
    }
}

.home-main-section {
    padding: 0rem 4rem;

    header {
        align-items: center;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 2rem;
        }

        p {
            text-align: center;
            width: 70%;
        }
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        .home-card {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            background-color: var(--card-bg);
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0px 1px 3px 0px var(--shadow);

            svg {
                color: var(--primary-light);
                background: rgba(0, 153, 255, 0.3);
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                padding: 1rem;
                margin-bottom: 1rem;
            }

            p {
                color: var(--text-muted);
            }

            h3 {
                font-weight: 500;
            }
        }
    }
}


/* Estilos de empleos.html */
#empleos-main {
    padding: 3rem 5rem;
}

.jobs-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;

    p {
        color: var(--text-muted);
    }

    .search-bar {
        color: var(--text-muted);
        background-color: var(--input-bg);
        display: flex;
        align-items: center;
        padding: .75rem;
        margin-bottom: .75rem;
        border-radius: .75rem;
        width: 100%;

        input {
            padding: 0 7rem;
            width: 100%;
            min-width: 18rem;
            border: none;
            outline: none;
            background: transparent;
            scale: 1.2;
            color: var(--text-primary);
        }
    }

    .group-select {
        align-self: start;
        display: flex;
        flex-wrap: wrap;
        gap: .75rem;
    }

    select {
        color: var(--text-primary);
        background-color: var(--input-bg);
        padding: .75rem .5rem;
        border-radius: .75rem;
        font-size: 1rem;
    }
}

.jobs-listings {
    margin: 2rem 0;
    border: 3px solid var(--border);
    border-radius: 1rem;

    article {
        background: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0;
        padding: 2rem;
        display: flex;
        align-items: start;
        gap: 1rem;

        small {
            font-size: 0.875rem;
            opacity: 0.75;
        }

        p {
            margin-top: 0.5rem;
        }

        &:last-child {
            border: none;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-block: 2rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: var(--text-muted);
        border-radius: .375rem;
        transition: all .3s;

        &:hover,
        &:focus {
            background-color: #fff;
        }

        &:active {
            transform: scale(0.9);
        }

        &.is-active {
            background-color: var(--primary-light);
            color: #fff;
            pointer-events: none;
        }
    }
}